<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Stanislas Polu</string>
	<key>Builder Version</key>
	<string>7534.55.3</string>
	<key>CFBundleDisplayName</key>
	<string>1-Line</string>
	<key>CFBundleIdentifier</key>
	<string>com.l1.safari.l1</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>js/lib/jquery-1.7.2.min.js</string>
				<string>js/l1.js</string>
				<string>js/gmail/gmail.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>https://mail.google.com/mail/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>SuperCharged Viral Charity Incentive through Email Signature Donation</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>mail.google.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://1-line.org/extensions/SafariExtensionUpdate.plist</string>
	<key>Website</key>
	<string>http://1-line.org</string>
</dict>
</plist>
