<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>1-Line: SuperCharged Viral Charity Incentive through Email Signature Donation</title>

    <meta name="description" content="1-Line lets you incentivizes others to give to charity by donating one line of your Gmail signature.">
    <meta name="author" content="1-line.org">
    <meta name="keywords" content="email, signature, donation, donate, charity, giving, referrals, social, realtime, layer, 1-line, incentive, incentivize, emails, give" >

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!-- jquery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <!-- cell.js -->
    <script src="/lib/cell-0.3.min.js"></script>
    <!--
    <link rel="shortcut icon" type="image/x-icon" href="/assets/ico/favicon.ico">
    -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/layer43.css" rel="stylesheet">
  </head>
  
  <body>
    <div class="leftcontainer">
      <div class="header">
        <div class="name">        
          1-LINE
        </div>
        <div class="pitch">
          When was the last time you made a Donation to a Charity?
          <div class="sub">
            1-Line lets you incentivizes others to give to charity by donating one line of your Gmail signature.
          </div>
        </div>
      </div>
      
      <div class="options">
        <div class="charity call">
          Find a Charity to Donate now &raquo;
        </div>
        <div class="signature call">
          Donate your Gmail Signature &raquo;
        </div>
      </div>
    </div>

    <div class="rightcontainer">
    </div>
    
  </body>
</html>
    