<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>1-Line: SuperCharged Viral Charity Incentive through Email Signature Donation</title>

    <meta name="description" content="1-Line lets you incentivizes others to give to charity by donating one line of your Gmail signature.">
    <meta name="author" content="1-line.org">
    <meta name="keywords" content="email, signature, donation, donate, charity, giving, referrals, social, realtime, layer, 1-line, incentive, incentivize, emails, give" >

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!-- jquery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <!-- cell.js -->
    <script src="/lib/cell-0.3.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/ico/favicon.ico">
    <link href="/assets/css/1-line.css" rel="stylesheet">
  </head>

  <body>
    <div class="leftcontainer">
      <div class="header">
        <div class="name" onclick="window.location='http://1-line.org'">         
          1-LINE
        </div>
        <div class="pitch">
          When was the last time you made a Donation to a Charity?
          <div class="sub">
            1-Line lets you incentivizes others to give to charity by donating one line of your Gmail signature.
          </div>
        </div>
      </div>      
    </div>

    <div class="rightcontainer support" style="top:0px;">     
      <h3>Uninstall</h3>
      <p>
        To uninstall the 1-Line extension, go to Google Chrome Settings, open the "extensions" tab
        and click on the trash next to the 1-Line extension. You can reinstall the extension at
        any time from our website: http://1-line.org
      </p>

      <h3>Tracked Information</h3>
      <p>
        The 1-Line extension does not track any information in itself. It sends request to
        generate a signature to our servers. Our servers track the number of generated
        signature as well as the number of visits generated and associate it with your
        email address. No other information is sent, tracked, or saved on our server or
        within the 1-Line extension.
      </p>

      <h3>Additional Questions</h3>
      <p>
        If you have any additional questions, do not hesitate to contact me directly:<br/>
        email: <a href="polu.stanislas+1line@gmail.com">polu.stanislas@gmail.com</a><br/>
        Twitter: <a href="http://twitter.com/spolu">@spolu</a>
        
      </p>
    </div>

  </body>
</html>